@import 'colors';
@import 'mixins';

.page {
  max-width: $max-width;
  background: $light-grayish-cyan;
  margin: auto;
  padding-bottom: 12rem;
}

.container {
  width: 111rem;
  margin: 0 auto;

  @include mobile-wide {
    width: 32.7rem;
  }
}

.header {
  height: 15.6rem;
  background-color: $desaturated-dark-cyan;
  background-image: url('../assets/images/bg-header-desktop.svg');
  background-size: cover;
}

.main {
  min-height: calc(100vh - 15.6rem);
}

.search {
  margin: -3.6rem 0 4rem;
  visibility: hidden;
}

.show {
  visibility: visible;
}
