@import 'base';

.page {
  max-width: $max-width;
  margin: auto;
}

.header {
  height: 15.6rem;
  background-color: $desaturated-dark-cyan;
  background-image: url('../assets/images/bg-header-desktop.svg');
  background-size: cover;
}

.main {
  padding: 7.6rem 0 12rem;
  background: $light-grayish-cyan;
  min-height: calc(100vh - 15.6rem);
}
