<div class="card card--featured">
  <div class="card__primary">
    <img src="assets/images/photosnap.svg" alt="image" class="card__img">
    <div class="card__info">
      <div class="card__main">
        <small class="card__title">Photosnap</small>
        <span class="card__blip card__blip--new">NEW!</span>
        <span class="card__blip card__blip--featured">FEATURED</span>
      </div>
      <h2 class="card__header">Senior Frontend Developer</h2>
      <div class="card__details">
        <span class="card__dit">1d ago</span>
        <span class="card__dit"></span>
        <span class="card__dit">Full Time</span>
        <span class="card__dit"></span>
        <span class="card__dit">USA only</span>
      </div>
    </div>
  </div>
  <div class="card__secondary">
    <button class="card__btn">
      <div class="mask"></div>
      Frontend
    </button>
    <button class="card__btn">
      <div class="mask"></div>
      Senior
    </button>
    <button class="card__btn">
      <div class="mask"></div>
      HTML
    </button>
    <button class="card__btn">
      <div class="mask"></div>
      CSS
    </button>
    <button class="card__btn">
      <div class="mask"></div>
      JavaScript
    </button>
  </div>
</div>
