<div class="card" [ngClass]="{'card--featured': job.featured}">
  <div class="card__primary">
    <img [src]="job.logo" [alt]="job.company" class="card__img">
    <div class="card__info">
      <div class="card__main">
        <small class="card__title">{{job.company}}</small>
        <span *ngIf="job.new" class="card__blip card__blip--new">NEW!</span>
        <span *ngIf="job.featured" class="card__blip card__blip--featured">FEATURED</span>
      </div>
      <h2 class="card__header">{{job.position}}</h2>
      <div class="card__details">
        <span class="card__dit">{{job.postedAt}}</span>
        <span class="card__dit"></span>
        <span class="card__dit">{{job.contract}}</span>
        <span class="card__dit"></span>
        <span class="card__dit">{{job.location}}</span>
      </div>
    </div>
  </div>
  <div class="card__secondary">
    <button (click)="selectRole(job.role)" class="card__btn">
      <div class="mask"></div>
      <span class="inner-text">{{job.role}}</span>
    </button>
    <button (click)="selectLevel(job.level)" class="card__btn">
      <div class="mask"></div>
      <span class="inner-text">{{job.level}}</span>
    </button>
    <button (click)="selectLanguage(language)" *ngFor="let language of job.languages" class="card__btn">
      <div class="mask"></div>
      <span class="inner-text">{{language}}</span>
    </button>
    <button (click)="selectTool(tool)" *ngFor="let tool of job.tools" class="card__btn">
      <div class="mask"></div>
      <span class="inner-text">{{tool}}</span>
    </button>
  </div>
</div>
